* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  margin-bottom: 40px;
  height: 5vh;
}

.counter {
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  gap: 30px;
  width: 10%;
}

.counter-div {
  display: flex;
  justify-content: center;
}
